<!-- <!DOCTYPE html> -->

<html lang='fr'>

<head>
      <title>Tedx UniCar</title>
      <link rel="shortcut icon"
            type="image/png"
            href="<%=require('./images/favicon.ico')%>" />
      <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">

      <meta property="og:url"
            content="https://tedxunicar.com" />
      <meta property="og:type"
            content="page" />
      <meta property="og:title"
            content="TEDx UniversityOfCarthage" />
      <meta property="og:description"
            content="Description" />
      <meta property="og:image"
            content="<%=require('./images/tedx-logo.png')%>" />


</head>

<body>
      <div id='body'>
      </div>
</body>

</html>